<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FirstRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <h1>FirstRails</h1>
        <ul>
          <li><%= link_to "Usuarios", users_path, class: "nav-link" %></li>
          <li><%= link_to "Lojas", stores_path, class: "nav-link" %></li>
          <li><%= link_to "Equipes", equipe_composers_path, class: "nav-link" %></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; <%= Time.now.year %> FirstRails. All rights reserved.</p>
  </footer>
</body>
</html>
